<table border="5">

  <thead>
    <tr>
      <td></td>
      <th>タイトル</th>
      <th>場所</th>
      <th>開催日時</th>
      <th>募集締切</th>
      <th>募集内容</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% recruitings.each do |recruiting| %>
      <tr>
        <td>
          <%= link_to user_path(recruiting.user) do %>
            <%= image_tag recruiting.user.get_profile_image(100,100) %>
          <% end %>
        </td>
        <td><%= link_to recruiting.title, user_path(recruiting.user) %></td>
        <td><%= recruiting.prefecture.name %></td>
        <td><%= recruiting.date %></td>
        <td><%= recruiting.deadline %></td>
        <td><%= recruiting.body %></td>
        <td class=<%= "favorite-" + recruiting.id.to_s %>><%= render "public/favorites/btn", recruiting: recruiting %></td>
        <td><%= render "public/recruiting_comments/count",recruiting: recruiting %></td>
      </tr>
    <% end %>
  </tbody>

</table>