<% recruitings.each do |recruiting| %>
  <div class="list_box">

    <div class="list_date">
      <div class="date_year"><%= l recruiting.date, format: :postyear %></div>
      <div class="date_month"><%= l recruiting.date, format: :postmonth %></div>
      <div class="date_time"><%= l recruiting.date, format: :posttime %></div>
    </div>

    <div class="list_userdata">
      <%= link_to user_path(recruiting.user) do %>
        <%= image_tag recruiting.user.get_profile_image(70,70), class: "icon_circle_70" %>
        <%= recruiting.user.name %>
      <% end %>
    </div><hr>

    <div><strong>タイトル：</strong><%= link_to recruiting.title, recruiting_path(recruiting) %></div>
    <div><i class="fa-solid fa-location-dot"></i> <%= link_to recruiting.prefecture.name, search_prefecture_path(content: recruiting.prefecture_id) %></div>
    <div><%= recruiting.body %></div>
    <hr>

    <!--ゲストユーザーはいいねとコメントアイコンからユーザー詳細に遷移できないように-->
    <% if user_signed_in? && current_user.name != "guestuser" %>
      <div class="list_comm">
        <%= render "public/recruiting_comments/count",recruiting: recruiting %>
      </div>
      <div class="list_fav">
        <div class=<%= "favorite-" + recruiting.id.to_s %>>
          <%= render "public/favorites/btn", recruiting: recruiting %>
        </div>
      </div>

    <% else %>
      <div class="list_comm">
        <i class="fa-regular fa-comment" aria-hidden="true"></i> <%= recruiting.recruiting_comments.count %>
      </div>
      <div class="list_fav">
        <i class="fas fa-heart" aria-hidden="true"></i> <%= recruiting.favorites.count %>
      </div>
    <% end %>
      <div class="list_dead">
        <strong><%= l recruiting.deadline, format: :post %>まで募集</strong>
      </div>
    <% if recruiting.user == current_user %>
      <div>
        <%= link_to "編集", edit_recruiting_path(recruiting), class: "btn btn-success" %>
        <%= link_to "削除", recruiting_path(recruiting), method: :delete, data: { confirm: "本当に削除して宜しいですか？"}, class: "btn btn-danger" %>
      </div>
    <% end %>

  </div>
<% end %>
