<div class='container'>
  <div class='row'>
    <h3><<募集詳細>></h3>
  </div>
  
  <!----------------------募集詳細内容---------------------->
  <div class='row'>
    <table border="5">
      <thead>
        <tr>
          <td></td>
          <th>タイトル</th>
          <th>場所</th>
          <th>開催日時</th>
          <th>募集締切</th>
          <th>募集内容</th>
          <th></th>
        </tr>
      </thead>
    
      <tbody>
        <tr>
          <td>
            <%= link_to(@recruiting.user) do %>
              <%= image_tag @recruiting.user.get_profile_image(100,100) %>
            <% end %>
          </td>
          <td><%= link_to @recruiting.title, user_path(@recruiting.user) %></td>
          <td><%= link_to @recruiting.prefecture.name, search_prefecture_path(content: @recruiting.prefecture_id) %></td>
          <td><%= @recruiting.date %></td>
          <td><%= @recruiting.deadline %></td>
          <td><%= @recruiting.body %></td>
          
          <!--ゲストユーザーはいいねとコメントアイコンからユーザー詳細に遷移できないように-->
          <% if current_user.name != "guestuser" %>
            <td class=<%= "favorite-" + @recruiting.id.to_s %>><%= render "public/favorites/btn", recruiting: @recruiting %></td>
            <td><%= render "public/recruiting_comments/count", recruiting: @recruiting %></td>
          <% else %>
            <td><i class="fas fa-heart" aria-hidden="true"></i> <%= @recruiting.favorites.count %></td>
            <td><i class="fa-regular fa-comment" aria-hidden="true"></i> <%= @recruiting.recruiting_comments.count %></td>          
          <% end %>
          
          <% if @recruiting.user == current_user %>
            <td><%= link_to "編集", edit_recruiting_path(@recruiting), class: "btn btn-success" %></td>
            <td><%= link_to "削除", recruiting_path(@recruiting), method: :delete, data: { confirm: "本当に削除して宜しいですか？"}, class: "btn btn-danger" %></td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
  
  <!----------------------コメント一覧---------------------->
  <div class='row'>  
    <% @recruiting.recruiting_comments.each do |recruiting_comment| %>
      <p><%= image_tag recruiting_comment.user.get_profile_image(50,50) %></p>
      <%= recruiting_comment.user.name %>
      <%= recruiting_comment.created_at.strftime('%Y/%m/%d') %><%= recruiting_comment.comment %>
      <% if recruiting_comment.user == current_user %>
        <%= link_to "削除", recruiting_recruiting_comment_path(recruiting_comment.recruiting, recruiting_comment), method: :delete %>
      <% end %>
    <% end %>
  </div>
  
  <!--コメント送信フォーム（ゲストユーザーは表示なし）-->
  <% if current_user.name != "guestuser" %>
    <div class='row'>
      <%= form_with model: [@recruiting, @recruiting_comment] do |f| %>
        <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
        <%= f.submit "送信する" %>
      <% end %>
    </div>
  <% end %>
</div>