<div class='container'>
  <!--エリア検索-->
  <% if admin_signed_in? && @records.present?%>
    <h3>"募集の中から 「<%= @prefecturename %>」 を検索した結果"</h3>
    <%= render 'admin/recruitings/list', recruitings: @records %>
  <% elsif @records.present? %>
    <h3>"募集の中から 「<%= @prefecturename %>」 を検索した結果"</h3>
    <%= render 'public/recruitings/list', recruitings: @records %>
  <% else %>
    <h3>"検索しましたが、募集の中に 「<%= @prefecturename %>」 はありませんでした"</h3>
  <% end %>