<div class='container'>
  <div class='row'>
    <h3><<募集詳細>></h3>
  </div>

  <!----------------------募集詳細内容---------------------->
  <div class='row'>
    <table border="5">
      <thead>
        <tr>
          <td></td>
          <th>タイトル</th>
          <th>場所</th>
          <th>開催日時</th>
          <th>募集締切</th>
          <th>募集内容</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>
            <%= link_to admin_user_path(@recruiting.user) do %>
              <%= image_tag @recruiting.user.get_profile_image(100,100) %>
            <% end %>
          </td>
          <td><%= link_to @recruiting.title, admin_user_path(@recruiting.user) %></td>
          <td><%= @recruiting.prefecture.name %></td>
          <td><%= @recruiting.date %></td>
          <td><%= @recruiting.deadline %></td>
          <td><%= @recruiting.body %></td>
          <td><i class="fas fa-heart" aria-hidden="true"></i> <%= @recruiting.favorites.count %></td>
          <td><i class="fa-regular fa-comment" aria-hidden="true"></i> <%= @recruiting.recruiting_comments.count %></td>
          <td><%= link_to "編集", edit_admin_recruiting_path(@recruiting), class: "btn btn-success" %></td>
          <td><%= link_to "削除", admin_recruiting_path(@recruiting), method: :delete, data: { confirm: "本当に削除して宜しいですか？"}, class: "btn btn-danger" %></td>
        </tr>
      </tbody>
    </table>
  </div>

  <!----------------------コメント一覧---------------------->

    <% @recruiting.recruiting_comments.each do |recruiting_comment| %>
      <div class="comment_reply flex-column">
        <i class="fa-solid fa-reply fa-rotate-180"></i>
        <%= link_to user_path(recruiting_comment.user) do %>
          <%= image_tag recruiting_comment.user.get_profile_image(30,30) %>
          <%= recruiting_comment.user.name %></br>
        <% end %>
        <%= recruiting_comment.comment %>
        <%= link_to "削除", recruiting_recruiting_comment_path(recruiting_comment.recruiting, recruiting_comment), method: :delete %>
        <div class="small text-muted text-right"><%= recruiting_comment.created_at.strftime('%Y/%m/%d') %></div>
        <hr>
      </div>
    <% end %>

  <!----------------------コメント送信フォーム---------------------->
  <div class='row'>
    <%= form_with model: [@recruiting, @recruiting_comment] do |f| %>
      <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
      <%= f.submit "送信する" %>
    <% end %>
  </div>
</div>