<% users.each do |user| %>
  <div class="users_container">
    <div class="users">
      <%= link_to admin_user_path(user) do %>
        <%= image_tag user.get_profile_image(70,70), class: "icon_circle_70" %>
      <% end %>
    </div>

    <div class="info">
      <div class="info__name">
        <%= link_to user.name, admin_user_path(user) %>
      </div>
      <div>
        <% if user.introduction.nil? %>
          <%= user.introduction %>
        <% else%>
          <%= user.introduction.truncate(53) %>
        <% end %>
      </div>

      <%= user.recruitings.where(is_matched: "false").count %> 件 募集中
      <div>
      <% if user.is_deleted == false %>
        ユーザーステータス：<span class="text-success"><strong>有効</strong></span>
      <% else %>
        ユーザーステータス：<span class="text-danger"><strong>退会済</strong></span>
      <% end %>
      </div>
    </div>
  </div>
<% end %>


