<table border="5" height="100">

  <thead>
    <tr>
      <td></td>
      <th>ユーザーネーム</th>
      <th>プロフィール</th>
      <th>募集数</th>
      <th>会員状態</th>
    </tr>
  </thead>

  <tbody>
    <% users.each do |user| %>
      <tr>
        <td>
          <%= link_to admin_user_path(user) do %>
            <%= image_tag user.get_profile_image(100,100) %>
          <% end %>
        </td>
        <td><%= user.name %></td>
        <td>
          <% if user.introduction.nil? %>
            <%= user.introduction %>
          <% else %>
            <%= user.introduction.truncate(53) %>
          <% end %>
        </td>
        <td><%= user.recruitings.where(is_matched: "false").count %> 件</td>
        <td>
          <% if user.is_deleted == false %>
            <span class="text-success"><strong>有効</strong></span>
          <% else %>
            <span class="text-danger"><strong>退会済</strong></span>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>

</table>