<%= image_tag user.get_profile_image(100,100) %>
<%= user.name %>
<%= user.introduction %>
<%= user.email %>
<% if user.is_deleted == false %>
  <p>有効</p>  
<% else %>
  <p>退会済</p>
<% end %>
<% areas.each do |area| %>
  <%= area.prefecture.name %>
<% end %>
<!--follows-->
<!--%= link_to user.followings.count, user_followings_path(user) %>-->
<!--followers-->
<!--%= link_to user.followers.count, user_followers_path(user) %>-->
<%= link_to "編集", edit_admin_user_path(user), class: "btn btn-info" %>

