<div class='edit_container'>
  <%= render 'layouts/errors', obj: @user %>
  <div class="row my-3">
    <h3 class="marker_blue">管理者　ユーザー編集</h3>
  </div>

  <div class="row">
    <%= form_with model:@user, url: admin_user_path, local:true do |f| %>
      <div class="form-group">
        <%= f.label :ユーザーネーム %>
        <%= f.text_field :name, class: "form-control name" %>
      </div>
      <div class="form-group">
        <%= f.label :メールアドレス %>
        <%= f.text_field :email, class: "form-control email" %>
      </div>
      <div class="form-group">
        <%= f.label :プロフィール画像 %>
        <%= f.file_field :profile_image, class: "form-control-file user_image", accept: 'image/*' %>
      </div>
      <div class="form-group">
        <%= f.label :自己紹介 %>
        <%= f.text_area :introduction, class: "form-control introduction", size: "38x10" %>
      </div>
      <div class="form-group">
        <p>会員ステータス</p>
        <%= f.radio_button :is_deleted, 'false' %>
        <%= f.label :is_deleted, '有効' %>
        <%= f.radio_button :is_deleted, 'true' %>
        <%= f.label :is_deleted, '退会' %>
      </div>
      <div class="form-group">
        <%= f.submit "変更を保存する", data: { confirm: "変更して宜しいですか？"} , class: 'btn btn-secondary' %>
      </div>
    <% end %>
  </div>
  <hr>

  <div class="row my-3">
    <h3 class="marker_blue">登録中エリア一覧</h3>
  </div>
  <div>
    <% if @areas.present? %>
      <% @areas.each do |area| %>
        <%= area.prefecture.name %>
        <%= link_to "削除", admin_area_path(area.id, area), method: :delete, class: "btn btn-danger", data: { confirm: "削除して宜しいですか？"} %>
      <% end %>
    <% else %>
      <p>現在登録がありません</p>
    <% end %>
  </div>

  <div class='row'>
    <div class="form-group">
      <%= form_with model: @area, url: admin_areas_path, method: :post do |f| %>
        <p class="mt-5">こちらから登録エリアを追加できます</p>
        <%= f.select :prefecture_id, options_from_collection_for_select(@prefectures, :id, :name), class: "form-control area" %>
        <%= f.hidden_field :user_id, value: @user.id %>
        <%= f.submit '追加', class: "btn btn-success" %>
      <% end %>
    </div>
  </div>

</div>