<% visitor = notification.visitor %>
<% visited = notification.visited %>
<div class="container">
  <div class="col-md-6.mx-auto">
    <div class="form-inline">
      
      <span>
        <!--誰が通知を起動させたか-->
        <%= link_to user_path(visitor) do %>
          <%= image_tag visitor.get_profile_image(40,40), class: "icon_mini" %>
          <strong>
            <%= visitor.name %>
          </strong>
        <% end %>
        <%= 'さんが' %>
        
        <!--どのアクションで通知が起きたかで条件分岐-->
        <% case notification.action %>
        <% when 'follow' then %>
          <%= "あなたをフォローしました" %>
          
        <% when 'favorite' then %>
          <%= link_to 'あなたの募集', notification.recruiting, style: "font-weight: bold;" %>
          <%= "にいいねしました" %>
          
        <% when 'recruiting_comment' then %>
          <% if notification.recruiting.user_id == visited.id %>
            <%= link_to "あなたの投稿", notification.recruiting, style: "font-weight: bold;" %>
          <% else %>
            <span>
              <%= link_to recruiting_path(notification.recruiting) do %>
                <%= image_tag notification.recruiting.user.get_profile_image(40,40), class: "icon_mini"  %>
                <strong>
                  <%= notification.recruiting.user.name + 'さんの投稿' %>
                </strong>
              <% end %>
            </span>
          <% end %>
          <%= "にコメントしました" %>
          <p class="text-muted mb-0">
            <%= RecruitingComment.find_by(id: notification.recruiting_comment_id)&.comment %>
          </p>
        <% end %>
      </span>
    </div>
    
    <div class="small text-muted text-right">
      <%= time_ago_in_words(notification.created_at).upcase %>
    </div>
    
    <hr>
  </div>
</div>