<table border="5" height="100">

  <thead>
    <tr>
      <td></td>
      <th>ユーザーネーム</th>
      <th>プロフィール</th>
      <th>募集数</th>
    </tr>
  </thead>

  <tbody>
    <% users.each do |user| %>
      <tr>
        <td>
          <%= link_to user_path(user) do %>
            <%= image_tag user.get_profile_image(100,100) %>
          <% end %>
        </td>
        <td><%= user.name %></td>
        <td>
          <% if user.introduction.nil? %>
            <%= user.introduction %>
          <% else%>
            <%= user.introduction.truncate(53) %>
          <% end %>
        </td>
        <td><%= user.recruitings.where(is_matched: "false").count %> 件</td>
      </tr>
    <% end %>
  </tbody>

</table>

