<%= image_tag user.get_profile_image(100,100) %>
<%= user.name %>
<%= user.introduction %>
<% if current_user == user %>
  <%= user.email %>

  <% areas.each do |area| %>
    <%= area.prefecture.name %>
  <% end %>
  
  <%= link_to user_followings_path(user) do %>
    <p>フォロー中</p>
    <%= user.followings.count %>
  <% end %>
  <%= link_to user_followers_path(user) do %>
    <p>フォロワー</p>
    <%= user.followers.count %>
  <% end %>

  <%= link_to "プロフィール編集", edit_user_path(user), class: "btn btn-info" %>
<% end %>
