<header class="border-bottom bg-header">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <div class="col navbar-brand">
          <%= link_to root_path do %>
            <%= image_tag "logo.png", class:"header-logo" %>
          <% end %>
        </div>
      <% if admin_signed_in? %>
        <p class="col mb-0">管理者ログイン中</p>
      <% end %>

      <div class="d-flex flex-column mt-2">
        <button class="col-3 align-self-center navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto header-icon-tips">

<!--一般会員ログイン時ヘッダーメニュー-->
          <% if user_signed_in? %>
            <li class="text-center mx-2">
              <%= link_to user_path(current_user) do %>
                <%= image_tag current_user.profile_image, class: "my-icon" %>
                <div class="tooltips">マイページ</div>
              <% end %>
            </li>
            <li class="text-center mx-2">
              <%= link_to recruitings_path, class: 'nav-link text-dark' do %>
                <i class="fa-solid fa-dice header-icon"></i>
                <div class="tooltips">募集一覧</div>
              <% end %>
            </li>
            <li class="text-center mx-2">
              <%= link_to users_path, class: 'nav-link text-dark' do %>
                <i class="fa-solid fa-users header-icon"></i>
                <div class="tooltips">ユーザー 一覧</div>
              <% end %>
            </li>
            <li class="text-center mx-2">
              <%= link_to notifications_path, class: 'nav-link text-dark' do %>
                <i class="fa-solid fa-bell header-icon"></i>
                <div class="tooltips">通知一覧</div>
              <% end %>
            </li>
            <li class="text-center mx-2">
              <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-dark' do %>
                <i class="fa-solid fa-right-from-bracket header-icon"></i>
                <div class="tooltips">ログアウト</div>
              <% end %>
            </li>

<!--管理者ログイン時ヘッダーメニュー-->
          <% elsif admin_signed_in? %>
            <li class="text-center mx-2">
              <%= link_to admin_recruitings_path, class: 'nav-link text-dark' do %>
                <i class="fa-solid fa-dice header-icon"></i>
                <div class="tooltips">募集一覧</div>
              <% end %>
            </li>
            <li class="text-center mx-2">
              <%= link_to admin_users_path, class: 'nav-link text-dark' do %>
                <i class="fa-solid fa-users header-icon"></i>
                <div class="tooltips">ユーザー 一覧</div>
              <% end %>
            </li>
            <li class="text-center mx-2">
              <%= link_to admin_prefectures_path, class: 'nav-link text-dark' do %>
                <i class="fa-solid fa-map-location-dot header-icon"></i>
                <div class="tooltips">エリア一覧・登録</div>
              <% end %>
            </li>
            <li class="text-center mx-2">
              <%= link_to destroy_admin_session_path, method: :delete, class: 'nav-link text-dark' do %>
                <i class="fa-solid fa-right-from-bracket header-icon"></i>
                <div class="tooltips">ログアウト</div>
              <% end %>
            </li>

<!--非ログイン時ヘッダーメニュー-->
          <% else %>
            <li class="text-center mx-2">
              <%= link_to "管理者ログイン",  new_admin_session_path, class: 'nav-link text-dark border rounded rounded-3 bg-white' %>
            </li>
            <li class="text-center mx-2">
              <%= link_to "About",  about_path, class: 'nav-link text-dark border rounded rounded-3 bg-white' %>
            </li>
            <li class="text-center mx-2">
              <%= link_to recruitings_path, class: 'nav-link text-dark' do %>
                <i class="fa-solid fa-dice header-icon"></i>
                <div class="tooltips">募集一覧</div>
              <% end %>
            </li>
            <li class="text-center mx-2">
              <%= link_to new_user_registration_path, class: 'nav-link text-dark' do %>
                <i class="fa-solid fa-user-pen header-icon"></i>
                <div class="tooltips">新規登録</div>
              <% end %>
            </li>
            <li class="text-center mx-2">
              <%= link_to new_user_session_path, class: 'nav-link text-dark' do %>
                <i class="fa-solid fa-right-to-bracket header-icon"></i>
                <div class="tooltips">ログイン</div>
              <% end %>
            </li>
          <% end %>
          </ul>
        </div>


        <div class="d-flex flex-row-reverse mt-2">
          <%= render "searches/form" %>
        </div>

      </div>
    </div>
  </nav>
</header>